/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    font-family: 'Montserrat', sans-serif;
    color: #999;
}

h1 {
    color: crimson;
}

.u-textCenter {
    text-align: center;
}

#mega-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#header,
#footer {
    background-color: #fff;
    padding: 30px;
}

#main {
    flex-grow: 1;
    background-color: #eee;
    color: #000;
}

#main .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 600px;
    height: 100%;
    margin: 0 auto;
}

.ticketCard {
    width: 600px;
    height: 250px;
    padding: 90px 20px;
    background-image: url('../img/double-bubble-outline.png');
    border-radius: 20px;
    filter: drop-shadow(0 0 1rem #777);
    transition: filter 1s;
    text-align: center;
}